.contenedor {
    background-color: grey;
    /*display: flex;*/
    display: inline-flex;
    flex-direction: row-reverse;
}

.item {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}